body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    padding: 20px;
    text-align: center;
    width: 300px;
    transition: transform 0.3s ease;
}




.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.card h2 {
    margin: 15px 0 5px;
    font-size: 24px;
    color: #343a40;
}

.card p {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 20px;
}

.card button {
    background-color: #307259;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 14px;
    
}

.card button:hover {
    background-color: #f10707;
}
